  <!DOCTYPE html>
  <html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/styles.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer
    src="https://rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo">Library</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Books</a></li>
          <li><a href="/authors/">Authors</a></li>
        </ul>
      </div>
    </nav>
    <div id ='container' class="z-depth-3">

      <div id='form-container'>

        <form action='/update_author/' method='post'>
          {% csrf_token %}


          <div class="mdl-selectfield mdl-js-selectfield">
            <select class="mdl-selectfield__select"  name="book_id">
              <option value=""></option>
              {% for book in all_books %}
              <option name='book_id' value={{ book.id }}>{{ book.title }}</option>
              {% endfor %}
            </select>
            <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
            <label class="mdl-selectfield__label" for="book_id">Add a book</label>
          </div>



          <input type='hidden' name='author_id' value={{ requested.id }}>
          <button class="waves-effect waves-light btn"
          type='submit'>Add</button>
        </section>
      </form>
    </div>
    <div id=description-container class="z-depth-2">
      <h4>Authors</h4>
      <h6>Name: {{ requested.first_name }} {{ requested.last_name }}</h6>
      <p>Books authored:</p>
      <ul>
        {% for book in book_authors %}
        <li>{{ book.title }} </li>
        {% endfor %}
      </ul>
      <p>Notes: {{ requested.notes }}</p>

    </div>



  </div>


</body>
</html>
