<html>
<head>
  <style>
    h5 {}
    h6{

    }
    .message{
      border: solid 2px orange;
    }
    .message p, h5{
      color: orange;
    }
    .comment{
      border: solid 2px brown;
    }
    .comments p, h6{
      color: brown;
    }



  </style>
</head>
<body>

  <nav>
    <h3>The Wall</h3>
    <p>Hello, {{ user.first_name }}</p>
    <a href='/logout/'>Logout</a>
  </nav>
  <div id = 'container'>
    <form action = "/message/" method = "post">
     {% csrf_token %}
     <br>
     <h5>Post a message:</h5>
     <textarea rows = "5" cols = "60" name = "message">
     </textarea><br>
     <input type = "submit" value = "submit" />
   </form>
   {% for message in messages %}
   <div class='message'>
    <h5>{{ message.user.first_name}} {{ message.user.last_name}} {{ message.created_at}}</h5>

    <p>{{ message.msg_content }}</p>
      {% if message.user.id == user_id %}
      <a href="/del_message/{{ message.id }}">Delete</a>
      {% endif %}
    <div class = 'comments'>
      <p>Comments:</p>
      {% for comment in message.comments.all %}
      <h6>{{ comment.user.first_name}} {{ comment.user.last_name}} {{ comment.created_at}}</h6>
      <p>{{ comment.comment_content }}</p>

      {% endfor %}
    </div>
    <form action = "/comment/{{ message.id }}/" method = "post">
     {% csrf_token %}
     <br>
     <h6>Post a comment:</h6>
     <textarea rows = "5" cols = "60" name = "comment">
     </textarea><br>
     <input type = "submit" value = "submit" />
   </form>

 </div>
 {% endfor %}
</div>
</body>
</html>
