@* @using Login.Models
@model LoginUser
  <!DOCTYPE html>
  <html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="~/css/styles.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/clear">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div id ='container' class="z-depth-3">
     
      <div id='form-container'>
        <h4>Sign In:</h4>
           <form asp-action="Login" asp-controller="Home" method="post">

                    <div class="row">
            <div class="input-field col s6">
     
              <label asp-for="Email"></label>
              <input type="email" asp-for="Email">
            </div>
          </div>
            <div class="row">
            <div class="input-field col s6">
      
              <label asp-for="Password"></label>
              <input type="password" asp-for="Password">
            </div>
          </div>
          
          <button class="waves-effect waves-light btn"
          type='submit'>Submit :)</button>
        </section>
      </form>
</body>
</div>
</html> *@

<html><body><p>fail</p></body></html>