@using Wedding.Models 
@model LoginUser
       
        <h4>Sign In:</h4>
        <form asp-action="LoginPost" asp-controller="Home" method="post">
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="Email" class="browser-default"></label>
              <input type="email" asp-for="Email" required> </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="Password"></label>
              <input type="password" asp-for="Password" required> </div>
          </div>
          <button class="waves-effect waves-light btn" type='submit'>Login :)</button>
        </form>
