@using Wedding.Models 
@model User
  
        <h4>Register:</h4>
        <form asp-action="CreateUser" asp-controller="Home" method="post">
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="FirstName"></label>
              <input asp-for="FirstName" required> </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="LastName"></label>
              <input asp-for="LastName" required> 
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="Email"></label>
              <input type="email" asp-for="Email" required> 
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="Password"></label>
              <input type="password" asp-for="Password" required> 
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label asp-for="Confirm"></label>
              <input type="password" asp-for="Confirm"> 
            </div>
          </div>
          <button class="waves-effect waves-light btn" type='submit'>Register :)</button>
        </form>
  