nav{
  background-color: #00796b ;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-mobile li{
  padding-right: 15px;
} 

#container {
  width:90%;
  background-color: #f5f5f5;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  min-width: 500px;
}

#content-container{

  margin:auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

#game-container{

  margin:30px;
  padding: 20px;
  width: 100%;

}

.pet{
  width:70%;
}

.btn-large{
  background-color: #5e35b1;
}