  <!DOCTYPE html>
  <html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/styles.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo">Library</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/shows/">Go Back</a></li>    
        </ul>
      </div>
    </nav>

    <div id=description-container class="z-depth-2">
      <h5>Show Info</h5>
      <p>Title: {{ requested.title }}</p>
      <p>ID: {{ requested.id }}</p> 
      <p>Network: {{ requested.network }}</p>
      <p>Release Date: {{ requested.release_date }}</p>
      <p>Description: {{ requested.desc }}</p>
      <p>Last updated: {{ requested.updated_at }}</p>
      <p><a href="/edit/{{ requested.id }}">Edit</a>  |  <a href="/delete/{{ requested.id }}">Delete</a></p>
    </div>
    </div>
  </body>
  </html>
